header > div.container, div.navCat > div.menuItems {
  max-width: 80%;
}

/* div.homepage {
  min-height: inherit;
} */

.regContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0;
}

.modal-content {
  max-width: 450px;
}

.navCat {
  height: 56px;
  margin-bottom: 12px;
  background-image: linear-gradient(-140deg, #2c7dbc 15%, #7cccc5 70%);
  -webkit-box-shadow: -3px 13px 24px -1px rgba(0,0,0,0.3);
  box-shadow: -3px 13px 24px -1px rgba(0,0,0,0.3);
  text-align: center;
  z-index: 0;
}

.menuItems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 22px;
}

.menuItems > .dropdown {
  margin: 0;
  padding: 0;
}

.razdelName {
  white-space: nowrap;
}

.menuItems * {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  margin: 10px;
}

.menuItems *:hover {
  color: #0d6efd;
}

@media (max-width:769px) {
  .menuItems {
    display: inline;
  }
}

.user_btn {
  text-decoration: none;
  margin-right: 9px;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin-bottom: 22px;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}


.profile-pic-v2 {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 3px solid #4e86b6;
  box-shadow: 0 0 7px #008080;
}

div#content {
  min-height: calc(100vh - 268px);
}

.main {
  max-width: 80%;
}

.avatar {
  width: 100px;
}

/* Поле поиска с автодополнением */
.autoComplete_wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}

.autoComplete_wrapper>input {
  display: block;
  width: 100%;
  height: 3rem;
  margin: 0;
  padding: 0 3rem 0 1rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1rem;
  text-overflow: ellipsis;
  color: #000;
  outline: 0;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  background-color: #fff;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -webkit-transform: all .4s ease;
}

.autoComplete_wrapper>input:hover {
  color: #000;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -webkit-transform: all .3s ease;
}

.autoComplete_wrapper>input::placeholder {
  color: #9f9f9f;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -webkit-transform: all .3s ease;
}

.autoComplete_wrapper>input:focus::placeholder {
  color: #afafaf;
  padding: .1rem .6rem;
  font-size: .95rem;
}

.autoComplete_wrapper>input:focus::selection {
  background-color: #ebf0f6;
}

.autoComplete_wrapper>input::selection {
  background-color: #ebf0f6;
}

.autoComplete_wrapper>ul {
  position: absolute;
  max-height: 280px;
  overflow-y: auto;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: .5rem 0 0 0;
  padding: 0;
  z-index: 1;
  list-style: none;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(33, 33, 33, .07);
  box-shadow: 0 3px 6px rgba(149, 157, 165, .15);
  outline: 0;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.autoComplete_wrapper>ul:empty,
.autoComplete_wrapper>ul[hidden] {
  display: block;
  opacity: 0;
  transform: scale(0)
}

.autoComplete_wrapper>ul>li {
  margin: .3rem;
  padding: .3rem .5rem;
  text-align: left;
  font-size: 1rem;
  color: #212121;
  border-radius: .35rem;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .2s ease
}

.autoComplete_wrapper>ul>div.no_result {
  margin: .3rem;
  padding: .3rem .5rem;
  text-align: left;
  font-size: 1rem;
  color: #212121;
  border-radius: .35rem;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .2s ease
}

.autoComplete_wrapper>ul>li mark {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #000;
  font-weight: 700;
}

.autoComplete_wrapper>ul>li:hover {
  cursor: pointer;
  background-color: #ebf0f6;
}

.autoComplete_wrapper>ul>li.no_result:hover {
  cursor: none;
  background-color: #ebf0f6;
}

.autoComplete_wrapper>ul>li[aria-selected=true] {
  background-color: #ebf0f6;
}

.autoComplete_button {
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
}

.autoComplete_button_icon {
  background-image: url('/static/search.svg');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: transparent;
  border: none;
  align-items: center;
  display: flex;
  margin: 0.5rem 0.5rem 0 0;
  width: 2rem;
  height: 2rem;
  justify-content: center
}

/* END Поле поиска с автодополнением */

.articleButtons {
  background-size: 2rem;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: transparent;
  width: 46px;
  height: 42px;
}

.logo {
  margin-top: 7px;
}

/* body.bg {
  background: url("../img/background_y_320x246.png") repeat fixed;
} */

body.bg {
  background: url("../img/tech-background.jpg") repeat fixed;
}

.likeContainer {
  display: flex;
  justify-content: center;
  height: 28px;
}

.likeSpanHidden {
  display: none;
}

/* .django-ckeditor-widget .container, .cke_editor_id_content, .cke_editor_id_content > .cke_inner {
  width: 100% !important;
  max-width: 100% !important;
} */
