{% extends 'base.html' %}
{% load static django_bootstrap5 %}

{% block content %}
<div class="regContainer">
    <div class="modal-content rounded-5 shadow bg-white">
        <div class="modal-header p-5 pb-4">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <h2  class="fw-bold mb-0">Вход</h2>
            <a href="{% url 'users:logout' %}">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
        </div>
        <div  class="modal-body p-5 pt-0">
            <form action="{% url 'users:login' %}" method="post" class="" >
                {% csrf_token %}
                {% bootstrap_form login_form %}
                <div  class="form-floating mb-3">
                </div>
                <div  class="form-floating mb-3">
                </div>
                <div class="mb-3">
                    {% include 'mainapp/includes/messages.html' %}
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}