{% extends 'base.html' %}
{% load static django_bootstrap5 %}

{% block content %}
<div  class="regContainer">
    <div class="modal-content rounded-5 shadow bg-white">
        <div class="modal-header p-5 pb-4 border-bottom-0">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <h2 align="center" class="title text-center">Регистрация</h2>
            <a href="{% url 'users:logout' %}">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
        </div>
        <div class="modal-body p-5 pt-0">
            <form action="{% url 'users:register' %}" method="post" class="reg">
            {% csrf_token %}
            {% bootstrap_form register_form %}
            <div  class="form-floating mb-3">
            </div>
            <div  class="form-floating mb-3">
            </div>
            <div  class="form-floating mb-3">
            </div>
            <div  class="form-floating mb-3">
            <div class="mb-3">
                {% include 'mainapp/includes/messages.html' %}
            </div>
            </div>
                <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
