{% load static django_bootstrap5 %}

<h5 class="mb-0 bg-white">Комментариев {{ comment.count }}</h5>

{% for comm in comment %}

<div class="row-md-6 bg-white">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <div class="col p-4 d-flex flex-column position-static">

            <h4 class="mb-0">{{comm.user}}</h4>
            <div class="mb-1 text-muted">Написал: <b>{{comm.created_at}}</b>

            </div>
            <p class="card-text mb-auto"> {{comm.text}}</p>
            <div class="text-end">

                {% if comm.active %}
                    <a type="button" class="btn btn-outline-warning likeButtonComment" title="Лайкнуть"
                    data-like="{% if request.user.is_authenticated %}{% url 'api:comment_like' comm.id %}{% endif %}">
                        <div class="likeContainer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-fire" viewBox="0 0 16 16">
                                <path
                                    d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z">
                                </path>
                            </svg>
                            <span class="likeSpanComment{% if comm.likes_count == 0 %} likeSpanHidden{% endif %}">{{ comm.likes_count }}</span>
                        </div>
                    </a>
                {% endif %}

                {% if user.is_superuser or user.is_moderator %}
                    {% if comm.active %}
                        <a type="button" class="btn btn-success commentModerButton"
                               data-cmoder="{% url 'api:comment_active' comm.id %}" title="Отклонить">Одобрено</a>
                    {% else %}
                        <a type="button" class="btn btn-danger commentModerButton"
                           data-cmoder="{% url 'api:comment_active' comm.id %}" title="Одобрить">Отклонено</a>
                    {% endif %}
                {% elif user == comm.user and not comm.active%}
                    <span class="btn btn-secondary disabled">На модерации</span>
                {% endif %}

                {% if user == comm.user or user.is_superuser or user.is_moderator %}
                    <a class="btn btn-outline-danger articleButtons" href="{% url 'mainapp:comment_delete' comm.id %}"
                        title="Удалить комментарий">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">
                            </path>
                        </svg>
                        <span class="visually-hidden">Button</span>
                    </a>
                {% endif %}

            </div>
        </div>
    </div>

</div>
{% endfor %}

{% if user.is_authenticated %}
<p>
<form id="commentForm" action="" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="post">
    {%csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-light btn-outline-primary me-2 mt-2" value="Отправить">Оставить комментарий</button>
</form>

</p>
{% endif %}