{% extends 'base.html' %}
{% load static %}
{% block title %}Детализированная статья{% endblock %}
{% block content %}
<div class="container main">

        {% comment %} <div class="mb-2 bg-black rounded text-white shadow"
            style="display: flex; flex-wrap: wrap; margin-top: calc(-1 * var(--bs-gutter-y))">
            <div style="position:relative" class="col-md-6 p-4">
                <h1 class="display-6 p-3">{{ post.title }}</h1>

                <div>
                    <ul class="h6 p-3" style="list-style-type:none">
                        <li class="p-1">Рубрика: {{ post.category }}</li>
                        <li class="p-1">Автор:
                            {% if post.user.last_name or post.user.first_name %}
                            {{ post.user.last_name|capfirst }}
                            {{ post.user.first_name|capfirst }}
                            {% if post.user.first_name %}
                            {{ post.user.middle_name|capfirst }}
                            {% endif %}
                            {% else %}
                            {{ post.user.username }}
                            {% endif %}</li>
                        <li class="p-1">Опубликовано: {{ post.updated_at }}</li>
                    </ul>
                </div>

                <div class="p-3">

                    <a type="button" class="btn btn-outline-secondary articleButtons" title="Прокомментировать"
                        href="#commentForm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-quote-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z">
                            </path>
                        </svg>

                    </a>


                    <a type="button" class="btn btn-outline-warning likeButton" title="Лайкнуть"
                    data-like="{% if request.user.is_authenticated %}{% url 'api:post_like' post.id %}{% endif %}">
                    <div class="likeContainer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-fire" viewBox="0 0 16 16">
                        <path
                            d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z">

                        </path>

                    </svg>
                    <span class="likeSpan{% if post.likes_count == 0 %} likeSpanHidden{% endif %}">{{ post.likes_count }}</span>
                </div>
                </a>

                    {% if user == post.user or user.is_superuser or user.is_moderator %}
                    <a type="button" class="btn btn-outline-success articleButtons"
                        href="{% url 'mainapp:post-edit' post.id %}" title="Редактировать статью">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pen-fill" viewBox="0 0 16 16">
                            <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z">
                            </path>
                        </svg>
                    </a>

                    <a type="button" class="btn btn-outline-danger articleButtons"
                        href="{% url 'mainapp:post_delete' post.id %}" title="Удалить статью">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">
                            </path>
                        </svg>
                    </a>

                    {% if user.is_superuser or user.is_moderator %}
                    {% if post.active %}
                    <a type="button" class="btn btn-success articleModerButton" data-amoder="{% url 'api:post_active' post.id %}"
                        title="Отклоинть">Одобрено</a>
                    {% else %}
                    <a type="button" class="btn btn-danger articleModerButton" data-amoder="{% url 'api:post_active' post.id %}"
                        title="Одобрить">Отклонено</a>
                    {% endif %}
                    {% endif %}

                    {% endif %}
                </div>

            </div>

            <div class="col-md-6">
                {% if post.image %}
                <img class="responsive" width="100%" height="auto" src="{{ post.image.url }}">
                {% else %}
                <img class="responsive" width="100%" height="auto" src="{% static 'img/post_no_image.jpg' %}">
                {% endif %}
            </div>

        </div> {% endcomment %}

        <div class="row-md-6  bg-white">
            <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250">
                <div class="col p-4 d-flex flex-column position-static">

                    <p class="card-text mb-auto">{{ post.content|safe }}</p>
                    <br>



                    <br>
                    <div class="text-end">

                        {% comment %} <a type="button" class="btn btn-outline-secondary articleButtons" title="Прокомментировать"
                            href="#commentForm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chat-quote-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z">
                                </path>
                            </svg>

                        </a> {% endcomment %}

                        {% comment %} <a type="button" class="btn btn-outline-warning likeButton" title="Лайкнуть"
                            data-like="{% if request.user.is_authenticated %}{% url 'api:post_like' post.id %}{% endif %}">
                            <div class="likeContainer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-fire" viewBox="0 0 16 16">
                                <path
                                    d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z">

                                </path>

                            </svg>
                            <span class="likeSpan{% if post.likes_count == 0 %} likeSpanHidden{% endif %}">{{ post.likes_count }}</span>
                        </div>
                        </a> {% endcomment %}

                        {% if user == post.user or user.is_superuser or user.is_moderator %}
                        <a type="button" class="btn btn-outline-success articleButtons"
                            href="{% url 'mainapp:post-edit' post.alias %}" title="Редактировать статью">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z">
                                </path>
                            </svg>
                        </a>

                        <a type="button" class="btn btn-outline-danger articleButtons articleButtons"
                            href="{% url 'mainapp:post_delete' post.id %}" title="Удалить статью">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">
                                </path>
                            </svg>
                        </a>

                        {% if user.is_superuser or user.is_moderator %}
                        {% if post.active %}
                        <a type="button" class="btn btn-success articleModerButton" data-amoder="{% url 'api:post_active' post.id %}" 
                            title="Отклонить">Опубликовано</a>
                        {% else %}
                        <a type="button" class="btn btn-danger articleModerButton" data-amoder="{% url 'api:post_active' post.id %}" 
                            title="Одобрить">Не опубликовано</a>
                        {% endif %}
                        {% endif %}

                        {% endif %}
                    </div>

                </div>

            </div>

        </div>
    </div>


    {% comment %} <div class="container">
        {% include 'comment.html' %}
    </div> {% endcomment %}
</div>
{% endblock content %}