{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="container main homepage">
    <div class="row-md-6  bg-white homepage">
        <div class="row-md-6  bg-white homepage">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 homepage">
                <div class="col p-4 d-flex flex-column position-static homepage">
                    {% lorem 20 p %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
