{% load static %}
<div>
    {% if posts_count_enabled or posts_sorting_enabled %}
    <div class="d-flex align-self-center">
        <div class="me-auto">
            {% if posts_count_enabled %}
            <h2>Кол-во постов: {{ post_count }}</h2>
            {% endif %}
        </div>
        <div class="btn-group bg-white" role="group">
            {% if posts_sorting_enabled %}
            <a class="btn btn-sm
                {% if not request.GET.order or request.GET.order == 'new' %}btn-secondary
                {% else %}btn-outline-secondary
                {% endif %}"
                href="/?search={{ request.GET.search }}&order=new"
                role="button">Новые</a>
            <a class="btn btn-sm
                {% if request.GET.order == 'likes' %}btn-secondary
                {% else %}btn-outline-secondary
                {% endif %}"
                href="/?search={{ request.GET.search }}&order=likes"
                role="button">Лучшие</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if posts %}
    {% for post in posts %}
    <a href="#">{{ post.title }}</a>

    {% comment %} <div class="row-md-6 bg-white">
        <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">{{ post.category }}</strong>
                <h3 class="mb-0">{{ post.title }}</h3>
                {% if post.image %}
                <img class="responsive" width="100%" height="auto" src="/media/{{ post.image }}" >
                {% else %}
                <img class="responsive" width="100%" height="auto" src="{% static 'img/post_no_image.jpg' %}" >
                {% endif %}
                <div class="mb-1 text-muted">
                    {{ post.updated_at }} |
                    {% if post.user.last_name or post.user.first_name %}
                    {{ post.user.last_name }}
                    {{ post.user.first_name }}
                    {% if post.user.first_name %}
                    {{ post.user.middle_name }}
                    {% endif %}
                    {% else %}
                    {{ post.user.username }}
                    {% endif %}
                </div>
                <p class="mb-2">{{ post.content|safe|truncatewords:60 }}</p>
                <div class="btn-group">
                    <div class="col-8">
                        <a href="{% url 'mainapp:post_detail' post.id %}" class="btn btn-primary">Продолжить
                            чтение</a>
                        {% if user == post.user or user.is_superuser or user.is_moderator %}
                        <a type="button" class="btn btn-outline-success articleButtons"
                            href="{% url 'mainapp:post-edit' post.id %}" title="Редактировать статью">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z">
                                </path>
                            </svg>
                        </a>
                        <a type="button" class="btn btn-outline-danger articleButtons"
                            href="{% url 'mainapp:post_delete' post.id %}" title="Удалить статью">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">
                            </path>
                            </svg>
                        </a>
                        {% if user.is_superuser or user.is_moderator %}
                        {% if post.active %}
                        <a type="button" class="btn btn-success articleModerButton"
                            data-amoder="{% url 'api:post_active' post.id %}" title="Отклонить">Одобрено</a>
                        {% else %}
                        <a type="button" class="btn btn-danger articleModerButton"
                            data-amoder="{% url 'api:post_active' post.id %}" title="Одобрить">Отклонено</a>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    {% endfor %}
    {% endif %}
</div>
{% if posts_pagination_enabled %}
<nav class="paginationContainer" aria-label="Page navigation">
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">begin</span>
            </a>
        </li>
        {% endif %}
        {% for n in posts.paginator.page_range %}
        {% if posts.number == n %}
        <li class="page-item active">
            <span class="page-link">{{ n }}</span>
        </li>
        {% elif n > posts.number|add:'-5' and n < posts.number|add:'5' %}
        <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">end</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
