{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="container">
    <div class="row-md-6">
        <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">Пользовательское соглашение</h3>
                <p class="mb-auto"><div class="content-page__body">
			<div class="typography">
				<div class="typography">
					<p>
						 г.Москва<br>
						 «23» июня 2021г.
					</p>
					<p>
						 Настоящая Политика конфиденциальности персональных данных (далее - «Политика конфиденциальности») действует в отношении всей информации, размещенной на официальном сайте codeBusters в сети Интернет по адресу: <a href="http://codeBusters.ru/">http://codeBusters.ru/</a> (далее – «<b>Сайт</b>»).
					</p>
					<p>
						 Настоящая Политика конфиденциальности разработана в соответствии с положениями Федерального закона от 27 июля 2006 г. №152-ФЗ «О персональных данных» (далее - Закон «О персональных данных»).
					</p>
					<h3>
					Основные понятия, используемые в Политике конфиденциальности </h3>
					<p>
 <b>«Компания» - </b>codeBusters.
					</p>
					<p>
 <b>«Персональные данные»</b> - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
					</p>
					<p>
 <b>«Пользователь»</b> - физическое лицо, для которого предназначена информация и информационные материалы Компании, размещенные на Сайте.
					</p>
					<p>
 <b>«Персональная информация» - </b>информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании личного кабинета) или в процессе использования Сервисов Сайта, включая Персональные данные Пользователя.
					</p>
					<p>
						 Обязательная для предоставления Сервисов информация помечена специальным образом (значком «*»). Иная информация предоставляется Пользователем на его усмотрение.
					</p>
					<p>
						 К Персональной информации также относятся данные, которые автоматически передаются Сервисам Сайта в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе:
					</p>
					<ul>
						<li>
						<p>
							 IP-адрес;
						</p>
 </li>
						<li>
						<p>
							 данные файлов Сookie;
						</p>
 </li>
						<li>
						<p>
							 информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к сервисам Сайта);
						</p>
 </li>
						<li>
						<p>
							 технические характеристики оборудования и программного обеспечения, используемых Пользователем;
						</p>
 </li>
						<li>
						<p>
							 дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация.
						</p>
 </li>
					</ul>
					<p>
 <b>«Обработка персональных данных»</b> - любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без их использования.
					</p>
					<p>
						 Обработка персональных данных включает в себя в том числе следующие действия: сбор, запись, систематизацию; накопление; хранение; уточнение (обновление, изменение); извлечение; использование, передачу (предоставление, доступ); обезличивание; блокирование; удаление, уничтожение.
					</p>
					<p>
 <b>«Политика конфиденциальности» - </b>настоящий документ Компании, определяющий правила обращения, Обработки персональных данных Пользователей и позволяющий обеспечить реализацию принципов законности, конфиденциальности и безопасности информации, предоставленной Пользователем при посещении Сайта.
					</p>
					<p>
 <b> «Сервисы Сайта» - </b>различные информационные (тематические) разделы Сайта, на которых размещена информация о Компании, о товарах и услугах, реализуемых Компанией, контактная и иная информация, раскрывающая деятельность Компании. <b> </b>
					</p>
					<p>
 <span style="color: #222222;">«</span><b>Сookie</b><span style="color: #222222;">» - небольшой фрагмент данных (файл), отправленный </span><a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%B1-%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80" title="Веб-сервер">веб-сервером</a><span style="color: #222222;"> и хранимый на </span>компьютерном / ином техническом устройстве<span style="color: #222222;"> Пользователя.</span>
					</p>
					<p>
						 Предоставляя персональные данные, Вы даете свое согласие codeBusters, на обработку, хранение (в т.ч., на электронных носителях) и использование, своих персональных данных, в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 г. и своей персональной информации, в целях ведения кадрового документооборота и кадрового резерва Компании; подбора кандидатов на вакантные должности для возможного трудоустройства в Компанию, содействие в трудоустройстве; получения предложений о сотрудничестве, Вашей идентификации для доступа к определенным разделам и Сервисам Сайта; предоставления Вам доступа к персонализированным ресурсам Сайта; заключения и исполнения договоров розничной купли-продажи товаров, заключаемых дистанционным способом с использованием Сервисов Сайта; установления с Вами обратной связи посредством средств электронной связи или иным способом (включая отправку и получение почтовой корреспонденции, использование SMS и MMS сообщений, электронную почту, специальных электронных программ, социальных интернет сетей), направления уведомлений, извещений, запросов, касающихся использования Сайта, оказания услуг, обработки Ваших запросов и заявок; определения Вашего места нахождения; подтверждения достоверности и полноты Ваших Персональных данных; создания личного кабинета при регистрации на Сайте; предоставления информации и материалов, уведомления Вас о деятельности Компании и продукции, реализуемой Компанией; проведения маркетинговых исследований; предоставления Вам эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта и/или заключением и исполнением договоров розничной купли-продажи товаров, заключаемых дистанционным способом с использованием Сервисов Сайта; осуществления рекламной деятельности; Вашего ознакомления с правилами ухода и обслуживания продукции, распространяемой Компанией; Вашего ознакомления с дисконтными программами и программами лояльности Компании, правилами участия в них, и в иных целях, не противоречащих законодательству РФ.
					</p>
					<p>
						 Под персональными данными подразумевается информация, относящаяся к Вам как к физическому лицу (субъекту персональных данных: соискателю, клиенту, контрагенту), указываемая в следующих разделах сайта: «Заполнить анкету» (анкета для соискателей), «Вопросы о сотрудничестве», «Подписка на новости» «Подписаться на рассылку», «Форма обратной связи для службы поддержки», личном кабинете, форме заказа для заключения договора розничной купли-продажи товаров, заключаемого дистанционным способом с использованием Сервисов Сайта (в том числе, фамилия, имя, отчество; пол; дата рождения (возраст); адрес; номер телефона; адрес электронной почты; гражданство; сведения о семейном положении; сведения об образовании, профессии, специальности и квалификации; сведения об опыте работы, трудовом стаже и предыдущих местах работы; фотографии), а также указанная в резюме и анкете соискателя при трудоустройстве в ООО «Фактор».
					</p>
					<p>
						 Под персональной информацией подразумевается информация об IP-адресе, данных файлов Сookie, браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к сервисам Сайта), технических характеристиках оборудования и программного обеспечения, используемых Вами, дате и времени доступа к сервисам, адресах запрашиваемых страниц
					</p>
					<p>
						 Данным согласием Вы разрешаете codeBusters и его филиалам, аффилированным лицам и уполномоченным ими лицам осуществление сбора, обработки, хранения, систематизации, уточнения (обновления, изменения), использования, передачи третьим лицам для обмена информацией по усмотрению codeBusters (если иное не предусмотрено законодательством РФ), обезличивания, блокирования, уничтожения персональных данных и персональной информации при автоматизированной и без использования средств автоматизации обработке, а так же осуществление любых иных необходимых действий в соответствии с законодательством РФ.
					</p>
					<p>
						 Настоящим, действуя добровольно, своей волей и в своем интересе Вы разрешаете Компании codeBusters и его филиалам, аффилированным лицам и уполномоченным ими лицам направлять Вам на указанные Вами на Сервисах Сайта адрес, номер / номера телефонов, адрес электронной почты информацию о предстоящих событиях, мероприятиях, товарах и услугах, оказываемых Компанией, информацию рекламного характера, а также актуальную и достоверную информацию о наличии продукции Компании в магазинах Компании.
					</p>
					<p>
						 Настоящее согласие данных действует с момента представления до момента достижения целей, указанных в настоящем согласии, либо до момента отзыва настоящего согласия Вами.
					</p>
					<p>
						 Настоящее согласие может быть отозвано Вами путем направления Компании (нарочно или Почтой России) письменного заявления об отзыве согласия по адресу в соответствии с требованиями законодательства РФ. Заявление об отзыве согласия составляется в свободной форме и должно содержать наименование и адрес Компании, фамилию, имя, отчество, паспортные данные и адрес регистрации заявителя и указание об отзыве согласия на обработку персональных данных.
					</p>
					<p>
						 Вы подтверждает, что данное согласие дано без принуждения и по собственной воле в Ваших интересах. Об ответственности за недостоверность представленных персональных данных Вы предупреждены.
					</p>
					<p>
						 Посещение Сайта, использование Сервисов Сайта, заполнение Пользователем соответствующих граф Сервисов Сайта означает ознакомление и полное согласие Пользователя с положениями настоящей Политики конфиденциальности, а также заинтересованность Пользователя в использовании Сервисов и разделов Сайта с предоставлением Пользователем своих Персональных данных и/или Персональной информации Компании.
					</p>
					<p>
						 В случае несогласия с указанными условиями Пользователь должен воздержаться от использования Сервисов Сайта.
					</p>
					<p>
 <b>По всем вопросам связанным с обработкой персональных данных обращайтесь на&nbsp;</b><a href="mailto:personaldata@codeBusters.ru" target="_blank"><b>personaldata@codeBusters.ru</b></a><b>.</b>
					</p>
					<b> </b>
					<h3>
					1. ОБЩИЕ ПОЛОЖЕНИЯ </h3>
					<p>
 <b>1.1.</b> Настоящая Политика конфиденциальности описывает все виды Персональных данных и Персональной информации, получаемых Компанией от Пользователей при посещении Сайта, а также правила их использования, Обработки персональных данных, использования и предоставления информации.
					</p>
					<p>
 <b>1.2. </b> Компания в соответствии с Политикой конфиденциальности может обрабатывать следующие Персональные данные Пользователей:
					</p>
					<ul>
						<li>
						<p>
							 фамилия, имя, отчество;
						</p>
 </li>
						<li>
						<p>
							 пол;
						</p>
 </li>
						<li>
						<p>
							 дата рождения;
						</p>
 </li>
						<li>
						<p>
							 адрес места жительства;
						</p>
 </li>
						<li>
						<p>
							 номер телефона;
						</p>
 </li>
						<li>
						<p>
							 адрес электронной почты;
						</p>
 </li>
						<li>
						<p>
							 гражданство;
						</p>
 </li>
						<li>
						<p>
							 сведения о семейном положении;
						</p>
 </li>
						<li>
						<p>
							 сведения об образовании, профессии, специальности и квалификации;
						</p>
 </li>
						<li>
						<p>
							 сведения об опыте работы, трудовом стаже и предыдущих местах работы;
						</p>
 </li>
						<li>
						<p>
							 фотографии
						</p>
 </li>
						<li>
						<p>
							 иные Персональные данные, предоставленные Пользователем.
						</p>
 </li>
					</ul>
					<p>
						 Компания также может получать и обрабатывать сведения о Пользователе, относящиеся к Персональной информации, а именно: IP-адрес, данные файлов Сookie, информацию о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к сервисам Сайта), технических характеристиках оборудования и программного обеспечения, используемых Пользователем, дате и времени доступа к сервисам, адресах запрашиваемых страниц.
					</p>
					<p>
 <b>1.3.</b> Политика конфиденциальности отражает меры и способы, предпринимаемые Компанией для обеспечения безопасности полученных Персональных данных и Персональной информации.
					</p>
					<p>
 <b>1.4.</b> Использование Сервисов Сайта означает безоговорочное согласие Пользователя с настоящей Политикой конфиденциальности и указанными в ней условиями Обработки персональных данных и его Персональной информации.
					</p>
					<p>
 <b>1.5. </b>Компания всецело придерживается позиции уважения тайны частной жизни Пользователей и предоставленных Пользователями сведений и данных.
					</p>
					<p>
						 Компания не осуществляет продажу Персональных данных Пользователей, не раскрывает Персональные данные и Персональную информацию, которую получает на Сайте, каким-либо третьим лицам для их собственных маркетинговых целей.
					</p>
					<p>
 <b>1.6. </b>Ряд Сервисов Сайта предполагает передачу определенной информации от Компании Пользователю, в следующих, но не ограничиваясь, случаях:
					</p>
					<ul>
						<li>
						<p>
							 обратная связь по обращению Пользователя;
						</p>
 </li>
						<li>
						<p>
							 в целях оказания технической и сервисной поддержки Пользователю;
						</p>
 </li>
						<li>
						<p>
							 для создания Пользователем личного кабинета на Сайте;
						</p>
 </li>
						<li>
						<p>
							 получения новостных и информационных материалов Компании;
						</p>
 </li>
					</ul>
					<ul>
						<li>заключения и исполнения договоров розничной купли-продажи товаров, заключаемых дистанционным способом с использованием Сервисов Сайта. </li>
					</ul>
					<p>
 <b>1.7. </b>Пользователь имеет право не предоставлять определенные сведения, относящиеся к Персональным данным и Персональной информации при этом понимая и принимая, что не предоставление каких-либо сведений может повлиять на возможность использования некоторых Сервисов Сайта.
					</p>
					<p>
 <b>1.8. </b>Компания вправе использовать файлы Cookie, веб-маяки и другие технологии в некоторых частях Сервисов Сайта.
					</p>
					<p>
						 Использование файлов Cookie помогает Компании определить, какие разделы Сайта наиболее популярны у Пользователей, поскольку данные файлы позволяют установить, к каким страницам и функциям Пользователи получают доступ и сколько времени Пользователи проводят на определенных разделах Сайта.
					</p>
					<p>
						 Анализируя подобную информацию, Компания адаптирует функционал Сайта и Сервисов с целью сделать работу Сайта наиболее комфортной для Пользователей.
					</p>
					<p>
 <b>1.9. </b>Компания не несет ответственности за сведения, предоставленные Пользователем на Сайте в общедоступной форме (то есть в форме, предоставляющей доступ к данным сведениям неопределённому кругу лиц).
					</p>
					<p>
 <b>1.10. </b>При Обработке Персональных данных и Персональной информации Пользователя Компания использует защищенные каналы связи для обеспечения безопасности передачи и Обработки Персональных данных и Персональной информации.
					</p>
					<p>
 <b>1.11. </b>Настоящая Политика конфиденциальности является общедоступным документом, определяющим основы деятельности Компании в области Обработки персональных данных и защиты Персональных данных и Персональной информации Пользователей.
					</p>
					<p>
 <b>1.12. </b>При осуществлении Обработки персональных данных Компания осуществляет следующие действия: сбор, запись, систематизацию; накопление; хранение; уточнение (обновление, изменение); извлечение; использование, передачу (предоставление, доступ); обезличивание; блокирование; удаление, уничтожение персональных данных.
					</p>
					<p>
 <b>1.13. </b>В Компании может осуществляться Обработка персональных данных следующими способами:
					</p>
					<ul>
						<li>
						<p>
							 с использованием средств автоматизации;
						</p>
 </li>
						<li>
						<p>
							 без использования средств автоматизации.
						</p>
 </li>
					</ul>
					<h3>
					2. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ </h3>
					 Сайт собирает и хранит только ту Персональную информацию и Персональные данные Пользователя, которые необходимы для предоставления Сервисов Сайта или исполнения запросов Пользователя, за исключением случаев, когда законодательством РФ предусмотрено обязательное хранение Персональной информации в течение определенного законом срока.
					<p>
 <b>2.2.</b> Персональная информация Пользователя на Сайте Компания обрабатывается в следующих целях:
					</p>
					<p>
 <b>2.2.1.</b> Идентификации Пользователя, зарегистрированного на Сайте, для доступа к определенным разделам и Сервисам Сайта.
					</p>
					<p>
 <b>2.2.2.</b> Предоставления Пользователю доступа к персонализированным ресурсам Сайта.
					</p>
					<p>
 <b>2.2.3.</b> Установления с Пользователем обратной связи, включая направление уведомлений, извещений, запросов посредством электронной почты, отправки SMS и MMS, сообщений, направленных с использованием специальных электронных программ, социальных интернет сетей, касающихся использования Сайта, оказания услуг, обработки запросов и заявок от Пользователя.
					</p>
					<p>
 <b>2.2.4.</b> Определения места нахождения Пользователя для обеспечения безопасности и предотвращения случаев мошенничества.
					</p>
					<p>
 <b>2.2.5.</b> Подтверждения достоверности и полноты Персональных данных, предоставленных Пользователем.
					</p>
					<p>
 <b>2.2.6.</b> Создания личного кабинета при регистрации на Сайте, если Пользователь дал согласие на создание личного кабинета.
					</p>
					<p>
 <b>2.2.7.</b> Уведомления Пользователя Сайта о:
					</p>
					<ul>
						<li>
						<p>
							 Компании и продукции, реализуемой Компанией;
						</p>
 </li>
						<li>
						<p>
							 любых мероприятиях, проводимых Компанией в отношении своей деятельности;
						</p>
 </li>
						<li>
						<p>
							 рекламных акциях Компании, правилах участия в подобного рода акциях;
						</p>
 </li>
						<li>
						<p>
							 открытии новых торговых точек Компании, закрытии торговых точек Компании, изменении графика и времени работы Компании и структурных подразделений Компании;
						</p>
 </li>
						<li>
						<p>
							 новых видах продукции Компании;
						</p>
 </li>
						<li>
						<p>
							 информационных и рекламных извещениях о Компании и сфере ее деятельности;
						</p>
 </li>
						<li>статусе (стадии) исполнения договоров розничной купли-продажи товаров, заключенных дистанционным способом с использованием Сервисов Сайта. </li>
					</ul>
					<p>
 <b>2.2.8. </b> Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта и/или с заключением и исполнением договоров розничной купли-продажи товаров, заключаемых дистанционным способом с использованием Сервисов Сайта.
					</p>
					<p>
 <b>
						2.2.9. </b> Осуществления рекламной деятельности с согласия Пользователя.
					</p>
					<p>
 <b>
						2.2.10.</b> Ознакомление Пользователя с правилами ухода и обслуживания продукции, распространяемой Компанией.
					</p>
					<p>
 <b>
						2.2.11. </b>Ознакомление Пользователя с дисконтными программами и программами лояльности Компании, правилами участия в них;
					</p>
					<p>
 <b>
						2.2.12.</b> Ведение кадрового документооборота и кадрового резерва Компании;
					</p>
					<p>
 <b>
						2.2.13.</b> Подбор кандидатов на вакантные должности для возможного трудоустройства в Компанию, содействие в трудоустройстве;
					</p>
					<p>
 <b>
						2.2.14.</b> Получение от Пользователей предложений о сотрудничестве;
					</p>
					<p>
 <b>
						2.2.15.</b> Оценка и улучшение качества обслуживания Компании;
					</p>
					<p>
 <b>
						2.2.16.</b> Проведение статистических и маркетинговых исследований, в том числе касающихся работы Компании, качества обслуживания;
					</p>
					<p>
 <b>2.1.17.</b> Заключение и исполнение договоров розничной купли-продажи товаров, заключаемых дистанционным способом с использованием Сервисов Сайта.
					</p>
					<p>
 <b>2.3</b>. Для достижения ряда из обозначенных целей Обработки персональных данных, таких как анализ потребительского рынка, проведение маркетинговых исследований, участие в программах лояльности и т.п. Компания может объединять информацию, полученную от Пользователя и/или о Пользователе, если это не противоречит положениям настоящей Политики конфиденциальности и законодательству РФ.
					</p>
					<h3>
					3. УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ И ЕЕ ПЕРЕДАЧИ ТРЕТЬИМ ЛИЦАМ</h3>
					<p>
 <b>3.1.</b> Сайт хранит Персональную информацию и Персональные данные Пользователей с использованием защищенных каналов связи для обеспечения безопасности.
					</p>
					<p>
 <b>3.2.</b> В отношении Персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.
					</p>
					<p>
 <b>3.3.</b> Компания вправе передать Персональную информацию и/или Персональные данные Пользователя третьим лицам в следующих случаях:
					</p>
					<p>
 <b>3.3.1.</b> Пользователь выразил согласие на такие действия.
					</p>
					<p>
 <b>3.3.2.</b> Передача Персональной информации и/или Персональных данных необходима для использования Пользователем определенного Сервиса либо для исполнения определенного соглашения или договора с Пользователем.
					</p>
					<p>
 <b>3.3.3.</b> Передача Персональной информации и/или Персональных данных предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры.
					</p>
					<p>
 <b>3.3.4.</b> В случае продажи Сайта к приобретателю переходят все обязательства по соблюдению условий настоящей Политики конфиденциальности применительно к полученной им Персональной информации.
					</p>
					<p>
 <b>3.4.</b> При определении сроков хранения персональных данных Пользователей Компания руководствуется требованиями Федерального закона от 27 июля 2006 года №152-ФЗ «О персональных данных» и другими нормативными актами Российской Федерации.
					</p>
					<p>
						 При определении сроков хранения персональных данных Пользователей, Компания руководствуется Приказом Росархива от 20 декабря 2019 г. №236, требованиями Федерального закона от 27 июля 2006 года №152-ФЗ «О персональных данных».
					</p>
					<p>
						 Прекращение обработки персональных данных Пользователей осуществляется по достижении цели обработки персональных данных или периода, указанного в согласии на обработку персональных данных.
					</p>
					<p>
						 Прекращение обработки персональных данных Пользователей также производится по отзыву Пользователем согласия на обработку персональных данных в соответствии с требованиями ст.21 Федерального закона от 27 июля 2006 года №152-ФЗ «О персональных данных».
					</p>
					<p>
 <b>3.5.</b> Компания не будет передавать информацию, предоставленную Пользователем третьим лицам для их собственных независимых маркетинговых или деловых целей без согласия Пользователя.
					</p>
					<p>
						 Между тем, Компания может раскрывать Персональную информацию и/или Персональные данные Пользователя следующим организациям:
					</p>
					<p>
 <b>3.5.1.</b> Аффилированным лицам Компании.
					</p>
					<p>
						 Персональная информация и/или Персональные данные Пользователя могут совместно использоваться аффилированными лицами Компании в целях, предусмотренных настоящей Политикой конфиденциальности.
					</p>
					<p>
						 Под «Аффилированными лицами» понимаются юридические лица, которые находятся в собственности или под контролем тех же лиц, что и Компания (ООО «Фактор» / ИНН: 7728594673).
					</p>
					<p>
 <b>3.5.2.</b> Контрагентам (Партнерам) Компании.
					</p>
					<p>
						 К контрагентам Компании относятся юридические лица, с которыми у Компании заключены соответствующие договоры. Использование Персональной информации и/или Персональных данных Пользователя допускается для предоставления запрошенных Пользователем услуг, прогнозирования интересов Пользователя и предоставления Пользователю информационных, рекламных и прочих материалов в соответствии с применимым законодательством.
					</p>
					<p>
 <b>3.5.3.</b> Другим лицам с согласия или по указанию Пользователя.
					</p>
					<p>
 <b>3.5.4.</b> Органам государственной власти, иным организациям и учреждениям в случаях, предусмотренных законодательством РФ.
					</p>
					<p>
 <b>3.6.</b> Компания принимает необходимые организационные и технические меры для защиты Персональной информации и/или Персональных данных Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
					</p>
					<p>
 <b>3.7.</b> Компания совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных негативных последствий, вызванных утратой или разглашением Персональных данных и/или Персональной информации Пользователя.
					</p>
					<p>
 <b>3.8.</b> Пользователь имеет право на свободный доступ к своим Персональным данным (за исключением случаев, предусмотренных законодательством РФ) на основании своего письменного запроса.
					</p>
					<p>
						 Запрос должен содержать номер основного документа, удостоверяющего личность Пользователя или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе, сведения, подтверждающие факт обработки Персональных данных Пользователя Компанией, подпись Пользователя или его представителя, дату обращения.
					</p>
					<p>
						 Запросы Субъектов персональных данных передаются нарочно или направляются почтой.
					</p>
					<p>
						 Компания на основании указанного запроса в порядке, предусмотренном законодательством РФ, сообщает Субъекту персональных данных или его законному представителю информацию о наличии Персональных данных, относящихся к такому Субъекту персональных данных, а также предоставляет возможность ознакомления с ними.
					</p>
					<h3><b>4. ОБЯЗАТЕЛЬСТВА КОМПАНИИ</b></h3>
					<p>
 <b>4.1.</b> <b><u>Компания обязуется</u></b>:
					</p>
					<p>
 <b>4.1.1.</b> Использовать полученную от Пользователя информацию (включая Персональные данные и Персональную информацию) исключительно для целей, указанных в настоящей Политике конфиденциальности.
					</p>
					<p>
 <b>4.1.2.</b> Обеспечить хранение Персональных данных и Персональной информации в тайне, не разглашать данные сведения без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование либо разглашение иными возможными способами переданных Персональных данных Пользователя, за исключением случаев, предусмотренных законодательством РФ и положениями настоящей Политики конфиденциальности.
					</p>
					<p>
 <b>4.1.3.</b> Принимать меры предосторожности для защиты конфиденциальности Персональных данных и Персональной информации Пользователя согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте.
					</p>
					<p>
 <b>4.1.4.</b> Осуществить блокирование Персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных персональных данных или неправомерных действий.
					</p>
					<h3>
					5. ОТВЕТСТВЕННОСТЬ КОМПАНИИ </h3>
					<p>
 <b>5.1.</b> В случае утраты или разглашения информации, относящейся к Персональной информации или Персональным данным Пользователя, размещенной на Сайте, Компания не несет ответственности, если указанная информация:
					</p>
					<p>
 <b>5.1.1.</b> Стала публичным достоянием до ее утраты или разглашения.
					</p>
					<p>
 <b>5.1.2.</b> Была получена от третьей стороны до момента ее размещения на Сайте.
					</p>
					<p>
 <b>5.1.3.</b> Была разглашена с согласия Пользователя.
					</p>
					<h3>
					6. РАЗРЕШЕНИЕ СПОРОВ</h3>
					<p>
 <b>6.1.</b> До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Компанией, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
					</p>
					<p>
 <b>6.2.</b> Получатель претензии в течение 30 (тридцати) календарных дней со дня получения претензии письменно уведомляет заявителя претензии о результатах ее рассмотрения.
					</p>
					<p>
 <b>6.3.</b> При недостижении соглашения спор будет передан на рассмотрение в суд в соответствии с законодательством РФ.
					</p>
					<p>
 <b>6.4.</b> К настоящей Политике конфиденциальности и отношениям между Пользователем и Компанией применяется законодательство РФ.
					</p>
					<h3>7. СВЕДЕНИЯ О РЕАЛИЗУЕМЫХ ТРЕБОВАНИЯХ К ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
					<p>
 <b>7.1 </b>При обработке персональных данных Компания принимает все необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий.
					</p>
					<p>
						 Обеспечение безопасности персональных данных достигается, в частности:
					</p>
					<ul>
						<li>
						<p>
							 назначением ответственного за организацию обработки персональных данных;
						</p>
 </li>
						<li>
						<p>
							 издание Компанией настоящей Политики, локальных актов по вопросам обработки персональных данных, а также локальных актов, устанавливающих процедуры, направленные на предотвращение и выявление нарушений законодательства Российской Федерации, устранение последствий таких нарушений;
						</p>
 </li>
						<li>
						<p>
							 применением правовых, организационных и технических мер по обеспечению безопасности персональных данных в соответствии со ст.19 Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных»;
						</p>
 </li>
						<li>
						<p>
							 осуществлением внутреннего контроля соответствия обработки персональных данных Федеральному закону от 27.07.2006 г. № 152-ФЗ «О персональных данных» и принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, настоящей Политики и локальным актам Общества;
						</p>
 </li>
						<li>
						<p>
							 ознакомлением работников Компании, непосредственно осуществляющих обработку персональных данных, с положениями законодательства Российской Федерации о персональных данных, в том числе требованиями к защите персональных данных, настоящей Политики, Положением о защите персональных данных, иными локальными актами по вопросам обработки персональных данных (при наличии);
						</p>
 </li>
						<li>
						<p>
							 принятием иных мер, предусмотренных законодательством РФ о персональных данных.
						</p>
 </li>
					</ul>
					<h3>8. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h3>
					<p>
 <b>8.1.</b> Компания вправе вносить изменения в настоящую Политику конфиденциальности без согласия и без предварительного уведомления Пользователя.
					</p>
					<p>
 <b>8.2.</b> Новая редакция Политики конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное прямо не предусмотрено новой редакцией Политики конфиденциальности.
					</p>
					<p>
						 Продолжая пользоваться ресурсами и Сервисами Сайта после размещения (опубликования) уведомления об изменении Политики конфиденциальности, Пользователь тем самым соглашается с новыми методами, изменениями, дополнениями и т.п., указанными в новой редакции Политики конфиденциальности.
					</p>
					<p>
 <b>8.3.</b> Действующая Политика конфиденциальности размещена на странице по адресу: codeBusters.ru
					</p>
					<p>
						 Для определения, когда Политика конфиденциальности Компании обновлялась / изменялась в последний раз, Пользователь руководствуется датой вступления Политики конфиденциальности в силу, которая указана на 1 (первой) странице Политики конфиденциальности.
					</p>
					<p>
 <b>8.4.</b> Пользователь вправе в любое время отписаться от рассылки сообщений рекламного, информационного характера, иных уведомлений / извещений направляемых Компанией;
					</p>
					<p>
 <b>8.5.</b> Контроль исполнения требований настоящей Политики осуществляется лицом, ответственным за организацию обработки персональных данных в Компании.
					</p>
				</div>
			</div>
		</div></p>

            </div>
        </div>
    </div>
</div>
{% endblock content %}